body {
    background-color: #232b2b;
}

h2 {
    color: white;
}

#tooltip {
    text-decoration: none;
    color: #c7c7c7;
    border-bottom: 2px dotted #c7c7c7;
    cursor: pointer;
}

#github-button {
    font-size: 24px;
    margin-right: 5px
}

#reddit-button {
    font-size: 24px;
    background-color: #FF5700;
    margin-right: 5px
}

#link-button {
    font-size: 24px;
    background-color: gray;
    color: white;
    margin-right: 5px
}

#main_body {
    width: 70%;
    margin-right: 30%;
    height: 60% !important;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3b444b;
    padding-top: 20px;
    overflow-x: overlay;
}

.sidenav table {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#myInput {
    background-image: url('../media/search.png');
    background-position: 15px 15px;
    background-size: 21px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    overflow-y: scroll;
    max-height: 500px;
    width: 100%;
    float: left
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#table_avatar {
    display: inline-block;
}

#table_avatar b {
    font-size: 21px;
}

#table_avatar p {
    color: red;
}

#avatar {
    height: 185px
}

#bot {
    position: relative;
    top: -2px;
    left: 5px;
    height: 24px;
}

.buttons {
    padding-top: 0%;
    padding-bottom: 5%;
    width: 100%;
}

.buttons button {
    display: inline-block !important;
    font-size: 100% !important;
}

@media only screen and (max-width: 1480px) {
    #table_name th {
        font-size: 12px !important
    }

    #table_name td {
        font-size: 12px !important
    }

    #table_avatar td {
        font-size: 12px !important
    }

    #table_avatar b {
        font-size: 18px !important;
    }

    #bot {
        height: 22px !important;
    }

    #avatar {
        height: 140px
    }
}

@media only screen and (max-width: 1160px) {
    #avatar {
        height: 80px
    }

    #table_avatar b {
        font-size: 14px !important;
    }

    #bot {
        height: 18px !important;
    }

    #table {
        width: 70% !important;
    }

    #form-group {
        width: 70% !important;
    }
}

#images_table img {
    margin: 10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    background: #F1F1FA;
}

.product-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: none;
}

.product-image-overlay .product-image-overlay-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    line-height: 35px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}

.product-image-overlay img {
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#load {
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
}

#image_count {
    display: none;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px;
    opacity: 0.5;
    background-color: black;
}